<h1>{{title}}</h1>
<div>Задача:</div>
<div>Создать поток типа Observable number из массива и заменить каждый элемент на обьект с id такого номера и произвольной буквой
  Прокинуть в шаблон и через директиву *ngFor вывести в виде кнопок с названием этих буков при нажатии на которые в
  консоль будет печататься значение ключа.
  * Должно работать асинхронно, без subscribe только async
  Отдельной кнопкой создавать кнопку с рандомной буквой, номер по порядку возрастанию
  ...добавлять в subject
  arr = [1,2,3,4,5];
  <!--  Заменил
      {
      "key": "1",
      "value": {
          "2": "l"
      }
      на
      {
        "id": 2,
        "value": "l"
      }
  }-->
<h2>App component</h2>

<ul>
  <li>
    <a routerLink="parent">Parent Component</a>
  </li>
  <li>
    <a routerLink="child">Child Component</a>
  </li>
</ul>
<router-outlet></router-outlet>

</div>
