<h1>{{title}}</h1>
<div>Задача:</div>
<div>Создать поток типа Observable number из массива и заменить каждый элемент на обьект с id такого номера и произвольной буквой
  Прокинуть в шаблон и через директиву *ngFor вывести в виде кнопок с названием этих буков при нажатии на которые в
  консоль будет печататься значение ключа.
  * Должно работать асинхронно, без subscribe только async
  Отдельной кнопкой создавать кнопку с рандомной буквой, номер по порядку возрастанию
  ...добавлять в subject
  arr = [1,2,3,4,5];
</div>
<!--<button (click)="addElement()">Add Element</button>-->
<!--<app-parent></app-parent>-->
<!--<app-child></app-child>-->
