<h1>{{title}}</h1>
<div>Задача:</div>
<div>Создать поток типа Observable number из массива и заменить каждый элемент на обьект с id такого номера и произвольной буквой
  Прокинуть в шаблон и через директиву *ngFor вывести в виде кнопок с названием этих буков при нажатии на которые в
  консоль будет печататься значение ключа.
  * Должно работать асинхронно, без subscribe только async
  Отдельной кнопкой создавать кнопку с рандомной буквой, номер по порядку возрастанию
  ...добавлять в subject
  arr = [1,2,3,4,5];
<!--  Заменил
    {
    "key": "1",
    "value": {
        "2": "l"
    }
    на
    {
      "id": 2,
      "value": "l"
    }
}-->
</div>
<div class="buttons">
  <div *ngFor="let el of res; trackBy: identify" >
    <button (click)="clickHandler(el.value)">{{el.id}}</button>
  </div>
</div>

<button (click)="addElement()">Add Element</button>
